/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */

body {
	background: #FFFFFF;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 1.2em;
	font-weight: 300;;
	padding-bottom:30px;
}

h1{
	font-family:'CallunaRegular';
	display: inline;
	font-weight: normal;
	font-size: 34px;
}

.header {
	padding:5px 0;
	position: relative;
	height: 36px;
}

.headertitle {
	position: absolute;
	display:table;
}

.headertitle p {
	display: table-cell;
	vertical-align: middle;
}

a:link,
a:visited {
	color: #161916;
	text-decoration:none;
}

a:hover {
	color: #505050;
	text-decoration:none;
}

.wrapper{
	margin: 0 auto;
	margin-top: 8%;
}

#Details{
	display: none;
}

.details {
	background: #E6FEEB;
	width: 410px;
	height: 165px;
	border-radius: 3px;
	box-shadow: 0 0px 2px 0 #888;
	margin: 1% auto;
}

.details table{
	width: 400px;
}

.title{
	padding-right: 6%
}

.detailswrap {
	margin: 0 auto;
}

.homenav {
	height: 32px;
}

.viewimg {
	border-style:solid;
	border-width:2px;
	margin: 10px auto;
	position: relative;
}

.fullimg {
	width: 100%;
	height: 100%;
}

.displayimg { 
	position:absolute; 
	top: 25px;
	left: 25px;
	z-index: 2;
}

.displayicons_portrait {
	position:absolute;
	z-index: 1;
	padding: .25%;
	top: 0;
	right: 21.5%;
	width: 20px;
}

.displayicons_portrait img {
	margin-bottom: 5px;
}

.displayicons_landscape {
        position:absolute;
        z-index: 1;
        padding: .25%;
        top: 0;
        right: 0%;
        width: 20px;
}

.displayicons_landscape img {
	margin-bottom: 5px;
}

.homebox {
	color: white;
	background: black;
	margin: 0 1.5% 2% 1.6%;
	border: 3px;
	border-style: solid;
	border-color: black;
	box-shadow: 5px 5px 10px #888;
}

.homeboxwrap {
	padding-left: 1.15%;
}

.tag {
	text-align: center;
	font-family:'LatinModernRoman10Regular';
	font-weight: normal;
	font-size: 34px;
	min-height: 42px;
}

.tagwrap {
	padding-left: .8%;
}

.filmstrip{
	background: #FEF6E4;
	box-shadow: inset 0 1px 6px -1px #000000, inset 0 -1px 6px -1px #000;
	margin: 1% auto;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 1%;
}

.left{
	float: left;
}

.right{
	float: right;
	text-align: right;
}

.navright{
	float: right;
	text-align: right;
	margin-left: -6.1%;
}

.navleft{
	float: left;
	margin-right: 6.1%;
}

.tenpad{
	padding: 10px;
}

.tenup{
	padding-top: 10px;
}

.grey{
	background: #eee;
}

.white{
	background: #fff;
}

.full{
	width: 100%;
	height: 100%;
}

.fright{
	float: right;
}

.aboutbox{
	background: #E6FEEB;
	box-shadow: 5px 10px 20px #888;
	padding: 30px;
	border-radius: 10px;
	margin: 10% 25%;
	font-size: 1.2em;
	border-style: solid;
	border-width: 1px;
}

.aboutbox a{
	color: #0404B4;
}

.plist{
	margin: 1% 1% 1% 1.9%;
	box-shadow: 5px 5px 10px #888;
	border: 1px;
	border-style: solid;
}

.viewlinks{
	padding: 10px;
}

	
.imagewrap {
	margin: 0 auto;
	text-align: center;
}

.landscape img{
	border: 1px;
	border-style: solid;
}

.potrait img{
        border: 1px;
        border-style: solid;
}

.textwrap {
	max-width: 78%;
	padding: 10px;
	margin-bottom: 8px;
	font-size: 1.17em;
	line-height: 1.25em;
	background: #E6FEEB;
	border-radius: 8px;
	box-shadow: 1px 1px 7px -1px #000000;
}

.photolinks {
	text-align: center;
	font-size: .5em;
	padding-top: 1%;
}

.sidebar {
	width: 20%;
	float:right;
}

.dlandscape {
	margin-right: 1%;
}

.dpotrait {
	margin-right: -6%;
}

.dpotrait img {
	width: 60.5%;
        border: 1px;
        border-style: solid;
}

#frame {
	position: relative;
}

.notice {
        background: #FEF6E4;
        box-shadow:inset 0 0 6px #000000;
        margin: 0 auto;
	margin-top: 5%;
	margin-bottom: 5%;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 1%;
}

#tag_all{
	margin: 20px 1.5% 0 0%
}

#tag_featured {
	margin: 20px 0% 0 0%
}

#tag_landscapes {
	margin: 20px 0% 0 7%
}

#tag_nature {
	margin: 20px 0% 0 5%
}

#tag_misc {
	margin: 20px 0% 0 2%
}

#tag_about {
	margin: 20px 0% 0 1.4%
}

@media handheld, only screen and (max-width: 767px) {

	.row {
		position: relative;
	}

	.tenpad {
		padding: 0;
	}

	.header {
		height: 60px;
		margin-top: 3%;
	}
	.notice {
		display: none;
	}

	.homeboxwrap {
		padding-left: 0%;
		text-align: center;
	}

	.homebox {
		color: none;
		background: none;
		border: none;
		box-shadow: none;
	}

	.homebox img{
		color: white;
        	background: black;
        	margin-bottom: 3%;
        	border: 3px;
        	border-style: solid;
        	border-color: black;
        	box-shadow: 5px 5px 10px #888;
	}

	.post {
		border-style: none;
		box-shadow: 0 0 0 0;
		margin-left: 1% !important;
		background: none;
	}

	.post img {
		border: 3px;
		box-shadow: 5px 5px 10px #888;
		border-style: solid;
		border-color: black;
	}

	.tagwrap {
		padding-left: 0%;
	}

	.potrait img{
		width: 100%;
	}

	.landscape img{
		width: 100%;
	}
	
	#tag_all {
		margin: 20px 0 0 0%;	
	}

	#tag_featured {
                margin: 20px 0 0 0%;
	}

	#tag_landscapes {
                margin: 20px 0 0 0%;
	}

	#tag_nature {
                margin: 20px 0 0 0%;
	}

	#tag_misc {
                margin: 20px 0 0 0%;
	}

	#tag_about {
                margin: 20px 0 0 0%;
	}

	.navleft {
		float: left !important;
		max-width: 10%;
		position: absolute;
		bottom: 0;
		left: 0;
		margin-left: -5px !important;
	}

	.navright {
		float: right !important;
		text-align: right;
		max-width: 10%;
		position: absolute;
		bottom: 0;
		right: 0;
		margin-right: -5px !important;
	}
	
	.textwrap {
		margin: 0 auto !important;
		margin-bottom: 45px !important;
		box-shadow: none;
		border-style: solid;
		border-width: 1px;

	}

	.photolinks {	
		display: none;
	}
	
	.filmstrip {
		display: none;
	}
	
	.plist {
                border-style: none;
                box-shadow: 0 0 0 0;
                margin-left: 20% !important;
	}
	
	.plist img {
		box-shadow: 5px 5px 10px #888;
		border: 1px;
		border-style: solid;		
	}
