{% extends "base.html" %}
{% block header %}{% endblock %}
{% block content %}
        <div class= "row">
		<div class= "sixcol last aboutbox">
			Photos and Text is run by me, Jared Haight. You can find out a little bit more about me <a href="https://plus.google.com/u/0/112023124469476343798/about">here.</a><p>
			<br>			
			This website was my excuse to teach myself some webdesign, <a href="https://www.djangoproject.com/">Django</a> and <a href="http://python.org">Python</a>.  The <a href="http://cssgrid.net/">1140 Grid CSS System</a> is keeping things together and any other design was achieved through trial and error. All of this is being served out by <a href="http://nginx.net/">Nginx</a> and <a href="http://gunicorn.org">Gunicorn</a>, running on a <a href="http://aws.amazon.com/ec2/">big scary computer located somehwere in Virginia</a>. <p>
			<br>
			I didn't want to learn javascript, so I took a crash course in <a href="http://jquery.com">jquery</a> instead. It's handling the visual effects, pop-ups and keyboard navigation (you can use left, right, j and k on your keyboard to navigate pages on the site).<p>
			<br>
			The photos displayed here are licensed under a <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/"> Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License</a>.<p>
		</div>
	</div>
{% endblock %}


