{% extends "base.html" %}
{% block javascript %}
<script type='text/javascript'>
        $(document).ready(function(){
        $("body").keydown(
	    function(event){
	        if (event.which == 74){
			url = $('#navleft').attr('href');
		}
                if (event.which == 37){
                        url = $('#navleft').attr('href');
                }
                if (event.which == 75){
                        url = $('#navright').attr('href');
                }
                if (event.which == 39){
                        url = $('#navright').attr('href');
                }
		if (url) {
		window.location = url;
		}
        	});
        });
</script>
{% endblock %}
{% block header %}
        <div class="row header tenpad">
                <div class="sixcol headertitle left">
                        <p><h1><a href="/">Photos and Text</a> | </h1>{{ photo.name }}</p>
                </div>
        </div>
{% endblock %}
{% block content %}
         <div class="row">
                {% if photo.orientation == 'landscape' %}
                <div id="frame_{{ photo.title_slug }}" class="eightcol dlandscape">
                        <p class="imagewrap dlandscape"><img src="{{ photo.get_landscape_url }}" alt="{{ photo.name }}"/></p>
		</div>  
                {% else %}
                <div id="frame_{{ photo.title_slug }}" class="eightcol dpotrait">
                        <p class="imagewrap dpotrait"><img src="{{ photo.get_600_url }}" alt="{{ photo.name }}"/></p>
		</div>  
                {% endif %}
                <div class="fourcol last tenpad details">
                                        <table>
                                                <tr><td><b>Taken: </b></td><td>
                                                {% if photo.exif_date_taken != "None"%}
                                                {{ photo.exif_date_taken }}
                                                {% else %}
                                                 Not Available
                                                {% endif %}</td></tr>

                                                <tr><td><b>Focal Length: </b></td><td>
                                                {% if photo.exif_focal != "None" %}
                                                {{ photo.exif_focal }}mm
                                                {% else %}
                                                Not Available
                                                {% endif %}</td></tr>

                                                <tr><td><b>Shutter Speed:</b></td><td>
                                                {% if photo.exif_shutter != "None" %}
                                                {{ photo.exif_shutter }}
                                                {% else %}
                                                Not Available
                                                {% endif %}</td></tr>

                                                <tr><td><b>ISO: </b></td><td>
                                                {% if photo.exif_iso != "None" %}
                                                {{ photo.exif_iso }}
                                                {% else %}
                                                Not Available
                                                {% endif %}</td></tr>

                                                <tr><td><b>Aperture:</b></td><td>
                                                {% if photo.exif_aperture != "None" %}
                                                f/{{ photo.exif_aperture }}
                                                {% else %}
                                                Not Available
                                                {% endif %}</td></tr>

                                                <tr><td><b>Tagged:</b></td><td>
                                                {% if photo.tags != "None" %}
                                                {{ photo.tags }}
                                                {% else %}
                                                None
                                                {% endif %}</td></tr>
                                        </table>

                                        <div class="tenpad right">
                                                <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/80x15.png" /></a>
                                       </div>
	                        <div class="displayicons_{{ photo.orientation }} fright">
        	                        <a href="http://download.photosandtext.com/{{ photo.original_image.name }}"><img id="Download" title="Download a high resolution copy of this Photo" src="/static/images/dl.png"/></a>
                	                <a href="/photo/{{ photo.title_slug }}/details"><img id="PhotoDetails" title="View Photo Details" src="/static/images/details-3.png"/></a>
				</div>
			</div>
                        </div>


		</div>
	<div class="row tenpad">
                <div class="onecol navleft">
                        {% if prevphoto %}
                        <a id="navleft" title="Previous Photo: {{ prevphoto.name }}" href="/photo/{{ prevphoto.title_slug }}"><img src="/static/images/arrow-left.png" alt="{{ prevphoto.name }}"/></a>
                        {% if user.is_authenticated %}{{ prevphoto.id }}{% endif %}
                        {% endif %}
                </div>
	        <div id="bar_{{ photo.title_slug }}" class="tencol textwrap">
                        {{ photo.caption|linebreaksbr }}
                        {% if user.is_authenticated %}{{ photo.id }}{% endif %}
        	</div>
                <div class="onecol last navright">
                        {% if nextphoto %}
                        <a id="navright" title="Next Photo: {{ nextphoto.name }}" href="/photo/{{ nextphoto.title_slug }}"><img src="/static/images/arrow-right.png" alt="{{ nextphoto.name }}"/></a>
                        {% if user.is_authenticated %}{{ nextphoto.id }}{% endif %}
                        {% endif %}
                </div>
	</div>
</div>
        {% include 'filmstrip.html' %}
{% endblock %}


