{% block filmstrip %}
<script type='text/javascript'>
$(document).ready(function(){
        $("#{{ photo.id }}").fadeTo(0,0.62);
	$("#{{ photo.id }}").css('background','black');

});
</script>

<div class="filmstrip">
	<div class="row">
	<div class="onecol"></div>
                {% for photo in row1 %}
                <div id="{{ photo.id }}" class="twocol plist">
                        <a href="/photo/{{ photo.title_slug }}"><img src="{{ photo.get_filmstrip_url }}" alt="{{ photo.title }}"></a>
                </div>
                {% endfor %}
        <div class="onecol"></div>
	</div>
	<div class="row">
        <div class="onecol"></div>
                {% for photo in row2 %}
                <div class="twocol plist">
                        <a href="/photo/{{ photo.title_slug }}"><img id = "{{ photo.id }}" src="{{ photo.get_filmstrip_url }}" alt="{{ photo.title }}"></a>
                </div>
                {% endfor %}
        <div class="onecol"></div>
        </div>
	<div class="row">
        <div class="onecol"></div>
                {% for photo in row3 %}
                <div class="twocol plist">
                        <a href="/photo/{{ photo.title_slug }}"><img id = "{{ photo.id }}" src="{{ photo.get_filmstrip_url }}" alt="{{ photo.title }}"></a>
                </div>
                {% endfor %}
        <div class="onecol filler"></div>
        </div> 
</div> 
{% endblock %}

