{% extends "base.html" %}

{% block meta %}
<meta name="og:url" content=
<meta name="title" content="Photos and Text" />
<meta property="og:site_name" content="Photos and Text" />
<meta property="og:title" content="Photos and Text" />
<meta name="description" content="A collection of photos from around North Carolina" />
<meta name="og:description" content="A collection of photos from around North Carolina" />
<meta property="og:type" content="website" />

{% for photo in photos.object_list %}
<link rel="image_src" href="{{ photo.get_social_url }}" />
<meta property="og:image" content="{{ photo.get_social_url }}" />
{% endfor %}
{% endblock %}

{% block javascript %}
<script type='text/javascript'>
$(document).ready(function(){
	$("a#HomePhoto").hover(function(){
                $(this).fadeTo("fast",1.0);
		$("a#HomePhoto").not(this).stop().fadeTo("fast",0.8); 
		},function() {
		$("a#HomePhoto").not(this).stop().fadeTo("slow",1.0);
	});
        $("body").keydown(
                 function(event){
                        if (event.which == 74){
                                url = $('#navleft').attr('href');
                        }
                        if (event.which == 37){
                                url = $('#navleft').attr('href');
                        }
                        if (event.which == 75){
                                url = $('#navright').attr('href');
                        }
                        if (event.which == 39){
                                url = $('#navright').attr('href');
                        }
                        if (url) {
                                window.location = url;
                        }
                });
});
</script>
{% endblock %}

{% block header %}{% endblock %}

{% block content %}

<!-- Photos!  -->
<div class="pure-g-r">
  <div id="wordWrap">
    <div class="pure-u-1-2 headerText">
      Photos and Text
    </div>
    <div class="pure-u-1-2 headerLinks">
    <a href="/">All</a>
      <a href="/category/featured">Featured</a>
      <a href="/category/landscapes">Landscapes</a>
      <a href="/category/nature">Nature</a>
      <a href="/category/misc">Misc.</a>
      <a href="http://words.photosandtext.com"">Words</a>
    </div>
  </div>
</div>
<div id="filmstrip">
  <div class="pure-g-r">
    {% for photo in photos.object_list %}
    <div class="pure-u-1-5">
      <a href="/photo/{{ photo.title_slug }}"><img src="{{ photo.get_home_url }}" alt="{{ photo.title }}"/></a>
    </div>
    {% endfor %}
  </div>
</div>
	<div class="pure-g-r homenav">
		<div class="pure-u-1-2 navleft">
                        {% if photos.has_previous %}
                        <a id="navleft" href= "?page={{ photos.previous_page_number }}"><img src="/static/images/arrow-left.png"></a>
                        {% endif %}
                </div>
		<div class="pure-u-1-2 navright last">
			{% if photos.has_next %}
			<a id="navright" href="?page={{ photos.next_page_number }}"><img src="/static/images/arrow-right.png"></a>
			{% endif %}
		</div>
	</div>
       {% if first_time == 'yes' %}
	<div class="row">
		<div class="twelevecol notice">
			<center>Hi! Welcome to Photos and Text. In addition to the arrow links on the sides of any given<br>
			page, you can use the left, right, 'j' or 'k' keys on your keyboard to navigate around.</center>
		</div>
	</div>
	{% endif %}
</div> 
{% endblock %}

