{% extends "base.html" %}
{% block title %}<title> {{ photo.name }} - Photos and Text </title>{% endblock %}

{% block meta %}
<meta name="title" content="{{ photo.name }}" />
<meta name="description" content="{{ photo.caption }}" />
<link rel="image_src" href=" {{ photo.get_social_url }}"/>
<meta property="og:title" content="{{ photo.name }}" />
<meta property="og:image" content="{{ photo.get_social_url }}" />
{% endblock %}

{% block header %}{% endblock %}
{% block content %}
<div class="pure-g-r">
  <div id="photo" class="pure-u-4-5">
    <div id="backdrop"></div>
    {% if photo.orientation == 'landscape' %}
    <div class="imageWrap landscape">
      <figure class="responsive"
          data-media="{{ photo.get_600_url }}"
          data-media600="{{ photo.get_1085_url }}"
          data-media1085="{{ photo.get_1280_url }}"
        >
        <noscript>
          <img src="{{ photo.get_600_url }}">
        </noscript>
      </figure>
    </div>
    {% else %}
    <p class="imageWrap potrait"><img src="{{ photo.get_600_url }}" alt="{{ photo.name }}"/></p>
    {% endif %}
  </div>
  <div id="info" class="pure-u-1-5">
    <div class="photoInfo">
      <h2>{{ photo.name }}</h2>
      <p class="desc">{{ photo.caption }}</p>
      <p>Taken on {{ photo.exif_date_taken }}</p>
      <p>Focal Length: {{ photo.exif_focal }}mm</p>
      <p>Shutter Speed: {{ photo.exif_shutter }}</p>
      <p>ISO: {{ photo.exif_iso }}</p>
      <p>Aperture: f/{{ photo.exif_aperture }}</p>
      <p class="desc">This photo is tagged {{ tags }}</p>
      <a class="pure-button photoButton primary" href="http://download.photosandtext.com/{{ photo.original_image.name }}">Download this Photo</a>
    </div>
  </div>
</div>
<div id="navBarWrap" class="pure-g-r">
  <div id="navBar">
    <div class="pure-u-2-5">
      {% if prevphoto %}
        <a id="navLeft" class="photoNav" title="Previous Photo: {{ prevphoto.name }}" href="/photo/{{ prevphoto.title_slug }}"><img src="/static/images/arrow-left.png" alt="{{ prevphoto.name }}"/><span>{{ prevphoto.name }}</span></a>
      {% endif %}
    </div>
    <div class="pure-u-1-5">
        <a id="navHome" href="/">Home</a>
    </div>
    <div class="pure-u-2-5">
      {% if nextphoto %}
        <a id="navRight" class="photoNav" title="Next Photo: {{ nextphoto.name }}" href="/photo/{{ nextphoto.title_slug }}"><span>{{ nextphoto.name }}</span><img src="/static/images/arrow-right.png" alt="{{ nextphoto.name }}"/></a>
      {% endif %}
    </div>
  </div>
</div>
{% include 'filmstrip.html' %}
{% endblock %}
{% block javascript %}
<script type='text/javascript'>
$(document).ready(function(){
    $('figure.responsive').picture();
});
</script>

<script type='text/javascript'>
        $(document).ready(function(){
		$('a#DetailsLink').toggle(function(){
				$('div#Details').slideDown();
				$(this).html('Hide Photo Details');
			}, function() {
				$('div#Details').slideUp();
				$(this).html('View Photo Details');
			});
    $(document.documentElement).keydown(
			function(event){
        if (event.which == 74){
          url = $('#navleft').attr('href');
        }
        if (event.which == 37){
          url = $('#navLeft').attr('href');
        }
        if (event.which == 75){
          url = $('#navRight').attr('href');
        }
        if (event.which == 39){
          url = $('#navRight').attr('href');
        }
        if (url) {
          window.location = url;
        }
    });
	});

</script>

{% endblock %}

