{% extends "base.html" %}
{% block title %}<title> {{ photo.name }} - Photos and Text </title>{% endblock %}

{% block meta %}
<meta name="title" content="{{ photo.name }}" />
<meta name="description" content="{{ photo.caption }}" />
<link rel="image_src" href=" {{ photo.get_social_url }}"/>
<meta property="og:title" content="{{ photo.name }}" />
<meta property="og:image" content="{{ photo.get_social_url }}" />
{% endblock %}

{% block javascript %}
<script type='text/javascript'>
        $(document).ready(function(){
		$('a#DetailsLink').toggle(function(){
				$('div#Details').slideDown();
				$(this).html('Hide Photo Details');
			}, function() {
				$('div#Details').slideUp();
				$(this).html('View Photo Details');
			});
	        $(document.documentElement).keydown(
			function(event){
			        if (event.which == 74){
					url = $('#navleft').attr('href');
				}
		                if (event.which == 37){
		                        url = $('#navleft').attr('href');
		                }
		                if (event.which == 75){
		                        url = $('#navright').attr('href');
		                }
		                if (event.which == 39){
		                        url = $('#navright').attr('href');
		                }
				if (url) {
				window.location = url;
				}
	       	});
	});
</script>
{% endblock %}
{% block header %}
{% endblock %}
{% block content %}
<div class="pure-g-r">
  <div class="pure-u-4-5 image">
    <div id="backdrop"></div>
    {% if photo.orientation == 'landscape' %}
    <p class="imagewrap landscape"><img src="{{ photo.get_full_url }}" alt="{{ photo.name }}"/></p>
    {% else %}
    <p class="imagewrap potrait"><img src="{{ photo.get_600_url }}" alt="{{ photo.name }}"/></p>
    {% endif %}
  </div>
  <div class="pure-u-1-5 info">
    <div class="photoInfo">
      <h1>{{ photo.name }}</h1>
      <p class="desc">{{ photo.caption }}</p>
      <p>Taken on {{ photo.exif_date_taken }}</p>
      <p>Focal Length: {{ photo.exif_focal }}mm</p>
      <p>Shutter Speed: {{ photo.exif_shutter }}</p>
      <p>ISO: {{ photo.exif_iso }}</p>
      <p>Aperture: f/{{ photo.exif_aperture }}</p>
      <p class="desc">This photo is tagged {{ tags }}</p>
      <a href="http://download.photosandtext.com/{{ photo.original_image.name }}">Download this Photo</a>
    </div>
  </div>
</div>
{% include 'filmstrip.html' %}
{% endblock %}


