{% extends "base.html" %}
{% block javascript %}
<script type='text/javascript'>
        $(document).ready(function(){
        $('a#PhotoDetails').tipsy({gravity: 's'});
	$('a#ViewLarger').tipsy({gravity: 's'});
        });
</script>
{% endblock %}
{% block header %}
        <div class="row header">
                <div class="sixcol headertitle left">
                        <p><h1><a href="/">Photos and Text</a> | </h1>{{ photo.name }}</p>
		</div>
        </div>
{% endblock %}
{% block content %}
	<div class="contentrow">
	<div class="row">
		<div class="ninecol viewmargin">
		{% if photo.orientation == 'landscape' %}
		<div class="viewimg">
			<div class="displayicons fright">
				<a id="PhotoDetails" title="View Photo Details" href="/photo/{{ photo.title_slug }}/details"><img src="/static/images/details-3.png"/></a>
	                        <a id="ViewLarger" title="View a Larger Version of this Photo" href="/photo/{{ photo.title_slug }}/full"><img src="/static/images/zoom-3.png"/></a>
			</div>
		        <img src="{{ photo.get_landscape_url }}" alt="{{ photo.name }}"/>
		{% else %}
                <div class="viewimg potrait">
                        <div class="displayicons fright">
                                <a id="PhotoDetails" title="View Photo Details" href="/photo/{{ photo.title_slug }}/details"><img src="/static/images/details-3.png"/></a>
                                <a id="ViewLarger" title="View a Larger Version of this Photo" href="/photo/{{ photo.title_slug }}/full"><img src="/static/images/zoom-3.png"/></a>
                        </div>
                        <img src="{{ photo.get_600_url }}" alt="{{ photo.name }}"/></a>
		{% endif %}
		</div>
		</div>
                <div class="threecol">
			<div class="viewbar">
                        {{ photo.caption|linebreaksbr }}
                        {% if user.is_authenticated %}{{ photo.id }}{% endif %}
			</div>
                </div>
	</div>
	{% include 'filmstrip.html' %}

{% endblock %}

